openapi: 3.0.3
info:
  title: REST Countries API
  description: API for retrieving information about countries.
  version: 1.0.0
servers:
  - url: https://restcountries.eu/rest/v2
paths:
  /all:
    get:
      summary: Get all countries
      parameters:
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: A list of all countries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /name/{name}:
    get:
      summary: Search countries by name
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: fullText
          in: query
          required: false
          schema:
            type: boolean
          description: Search using the full country name
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: Countries matching the name
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /alpha/{code}:
    get:
      summary: Search country by ISO 3166-1 code
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: A country matching the code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'

  /alpha:
    get:
      summary: Search countries by list of codes
      parameters:
        - name: codes
          in: query
          required: true
          schema:
            type: string
          description: ISO codes separated by semicolons (e.g., `col;no;ee`)
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: Countries matching the codes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /currency/{currency}:
    get:
      summary: Search countries by currency code
      parameters:
        - name: currency
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: Countries using the specified currency
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /lang/{language}:
    get:
      summary: Search countries by language code
      parameters:
        - name: language
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: Countries using the specified language
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /capital/{capital}:
    get:
      summary: Search countries by capital city
      parameters:
        - name: capital
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: Countries matching the capital
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /callingcode/{callingcode}:
    get:
      summary: Search countries by calling code
      parameters:
        - name: callingcode
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: Countries matching the calling code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /region/{region}:
    get:
      summary: Search countries by region
      parameters:
        - name: region
          in: path
          required: true
          schema:
            type: string
            enum: [Africa, Americas, Asia, Europe, Oceania]
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: Countries in the specified region
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

  /regionalbloc/{regionalbloc}:
    get:
      summary: Search countries by regional bloc
      parameters:
        - name: regionalbloc
          in: path
          required: true
          schema:
            type: string
            enum: [EU, EFTA, CARICOM, PA, AU, USAN, EEU, AL, ASEAN, CAIS, CEFTA, NAFTA, SAARC]
        - $ref: '#/components/parameters/fieldsParam'
      responses:
        '200':
          description: Countries in the specified regional bloc
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'

components:
  parameters:
    fieldsParam:
      name: fields
      in: query
      required: false
      schema:
        type: string
      description: >
        Filter the fields to include in the response (e.g. `name;capital;currencies`)

  schemas:
    Country:
      type: object
      properties:
        name:
          type: string
        topLevelDomain:
          type: array
          items: { type: string }
        alpha2Code:
          type: string
        alpha3Code:
          type: string
        callingCodes:
          type: array
          items: { type: string }
        capital:
          type: string
        altSpellings:
          type: array
          items: { type: string }
        region:
          type: string
        subregion:
          type: string
        population:
          type: integer
        latlng:
          type: array
          items: { type: number }
        demonym:
          type: string
        area:
          type: number
        gini:
          type: number
        timezones:
          type: array
          items: { type: string }
        borders:
          type: array
          items: { type: string }
        nativeName:
          type: string
        numericCode:
          type: string
        currencies:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              name:
                type: string
              symbol:
                type: string
        languages:
          type: array
          items:
            type: object
            properties:
              iso639_1:
                type: string
              iso639_2:
                type: string
              name:
                type: string
              nativeName:
                type: string
        translations:
          type: object
          additionalProperties:
            type: string
        flag:
          type: string
          format: uri
        regionalBlocs:
          type: array
          items:
            type: object
            properties:
              acronym:
                type: string
              name:
                type: string
              otherAcronyms:
                type: array
                items: { type: string }
              otherNames:
                type: array
                items: { type: string }
        cioc:
          type: string
